@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
    font-family: "Inter", sans-serif;
}
.fa-brands{
    color: grey;
    font-size: 1.5rem;
}
.fa-brands:hover{
    color: #76d5f5;
}
.paragraph{
    font-size: 10px;
}
.Icon li a{
    line-height: 2rem;
    text-decoration: none;
    font-size: 1.1rem;
}
 .text-dark:hover{
color: #76d5f5;
}