body{
    background-color: #fffcf9;
    margin-top: 60px;
  box-sizing: border-box;
}
header {
    background: url('https://img.freepik.com/premium-photo/various-fast-food-items-ready-eat-captured_961875-48057.jpg?w=1060') no-repeat center center/cover;
    color: white;
    text-align: center;
    padding: 100px 0;
     

    
  }
  section{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  header h1 {
    font-size: 2.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
  }
  
  header p {
    margin: 15px 0;
    color: #f6f078;
    font-size: 25px;
  }
  
  header button {
    background-color: #f69d36;
    color: white;
    padding: 9px 18px;
    border: none;
    cursor: pointer;
    font-size: 20px;
  }
  
  .stats-section {
    display: flex;
    justify-content: space-around;
    margin: 40px 0;
  }
  .stats-section h2{
    font-size:33px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    color:#f69d36;
  }
  
  .stats-section div {
    text-align: center;
  }
  
  .products-section {
    display: flex;
    gap: 20px;
  }
  
  
  .product-card {
    text-align: center;
  }
  
  .product-card img {
    height: 175px;
    width: 100%;
    border-radius: 10px;
    padding-left: 10px;
    object-fit: cover;
  }
  
  .product-card h5 {
    margin-top: 10px;
  }
  
  .product-card p {
    color: #555;
  }
  .image-gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
    height: 250px;
    background-color: #faf6b1;
  }
  
   .image-gallery img{
    width: 150px;
    height: 200px;
    object-fit: cover;
    margin-top: 20px;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }
  .image-gallery img:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 16px 2px brown; 
  }
  
  
  